#projects tr {
    margin-bottom: 10px;
}

#projects img {
    margin-right: 30px;
}

#all {
    margin: auto;
    background: #ffffff;
    width: 900px;
    margin: auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

#all a {
  color: #0088ff;
  /*color: #ff8f00;*/
  text-decoration: none;
}

#all a:hover {
  text-decoration: underline;
}

#all-bio {
  width: 630px;
  padding-right: 50px;
  float: left;
}

#all-bio h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

#all-bio h2 {
  text-align: center;
}

#all-photo {
  margin-top: 100px;
  float: right;
}

.all-info {
    float: left;
}

#all-photo img {
  width: 220px;
  margin-top: 0px;
  /*border-radius: 50%;*/
}
